@{
    ViewBag.Title = "Register";
}
<div class="registration_container">
    <div id="content">
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8 col-xs-12">
                <div class="wizard-header">
                    <div class="label-big">Thank you for registering!</div>
                    <div class="label-small" style="margin-top:50px">A registration confirmation email was sent to the email address provided. Your registration will be sent for approval and activation to the Administrator.<strong>You will receive an email when your account is ready to use.</strong> </div>
                </div>
            </div>
        </div>
    </div>
    <div id="foo">
        <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8 col-xs-12">
            <div class="row">
                <a class="prevent-history a-hidden-xs" href="/Login">Back to Login Page</a>
            </div>
            <div class="row">
                <a class="prevent-history a-visible-xs" href="/Login">Back to Login</a>
                <div class="registration_copyright">
                    <span class="a-hidden-xs">CORAL MULTI-SIDED PLATFORM 0.2.6.95 iQA</span>
                    <span class="a-visible-xs">CORAL PLATFORM 0.2.6.95 iQA</span>
                    <sub class="images_logo_png"></sub>
                </div>
            </div>
        </div>
    </div>
</div>


