@{
    ViewBag.Title = "Success";
}
<div class="registration_container">
    <div id="content">
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8 col-xs-12">
                <div class="wizard-header">
                    <div class="label-big">Login</div>
                    <div class="label-small"></div>
                    <div class="label-normal">login successful(no)</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8 col-xs-12">
                <div>login successful(no)</div>
            </div>
        </div>
    </div>
    <div id="foo">
        <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8 col-xs-12">
            <div class="row">
                <a class="prevent-history" href="/Login">Back to Login Page</a>
            </div>
            <div class="row">
                <div class="registration_copyright">
                    <span>CORAL MULTI-SIDED PLATFORM 0.2.6.95 iQA</span>
                    <sub class="images_logo_png a-hidden-xs" style="display:inline-block"></sub>
                    <span class="images_logo_png a-visible-xs" style="vertical-align:middle;margin:0"></span>
                </div>
            </div>
        </div>
    </div>
</div>
